body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif !important;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    color: #333333 !important;
    background-color: #f0f0f0 !important; 
    overflow-x: hidden !important;
}

/* navbar */
#navbar {
  background:#555555;
  padding: 10px 0
}

#navbar .offer {
  color: #fff;
}

#c .offer .btn{
  text-transform: uppercase;
}

@media (max-width: 991px) {
  #navbar .offer {
    margin-bottom: 10px;
  }
}

@media (max-width: 991px) {
  #navbar {
    font-size: 12px;
    text-align: center;
  }
}

#navbar a {
  color: #fff;
}

#navbar ul.menu {
  padding-top: 5px; 
  margin: 0;
  text-align: left;
  font-size: 12px;
  list-style: none;
}

@media (max-width: 991px) {
  #navbar ul.menu {
    text-align: center;
  }  
}

#navbar ul.menu > li {
  display: inline-block;
}

#navbar ul.menu > li a{
  color: #eeeeee;
  text-transform: uppercase;
  text-decoration: none;
}

#navbar ul.menu > li+li::before{
  content: "|\00a0";
  padding: 0 10px;
  color: #f7f7f7;
}

/* post */
.box {
  background: #fff;
  margin: 0 0 10px;
  border: solid 1px #e6e6e6;
  box-sizing: border-box;
  padding: 20px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.post-list {
  list-style-type: none;
  padding: 0;
  margin: 10px;

  justify-content: center;
  flex-wrap: wrap;
}

.post-list li {
  padding: 5px 5px;
  text-align: left;
}

#post {
  text-align: left;
}
  
#post .box .icon {
  position: relative;
  font-size: 20px;
  padding-right: 10px;
  float: left;
  box-sizing: border-box;
  color: #337ab7;
  cursor: pointer; 
}
  
#post .box h3 {
  position: relative;
  margin: 0 0 25px;
  font-weight: 300;
  text-transform: uppercase;
}
  
#post .box h3 a:hover {
  text-decoration: none;
}
  
#post .box p{
  position: relative;
  margin: 0 0 25px;
  color: #555555;
  font-size: 16px;
  cursor: pointer; 
}

#post .btn:focus {
  outline: none;
}

.post-author {
  text-transform: lowercase;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
  font-style: italic;
  font-size: 14px;
}

.post-date {
  padding-top: 2px;
  padding-bottom: 18px;
  font-size: 14px;
  text-transform: uppercase;
}

.post-info {
  padding: 15px 0 20px;
}

.post-vote {
  float: left;
  padding-bottom: 6px;  
  padding-right: 20px;
  font-size: 20px;
}

.post-comment {
  float: right;
}

.post-header {
  padding: 5px;
  margin: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.post-empty {
  padding: 10px;
  font-size: 16px;
}

.post-sort {
  float: right;
}

.post-button {
  float: right;
  padding: 2px;
}

/* create post */
.create-post-button {
  float: right;
  margin-top: 10px;
  padding: 2px;
}

/* message */

.message {
  display: inline-block;
  margin-left: 16px;
}

.message-success {
  color: #0d0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 3s, opacity 1s linear 2s;
}

.message-fail {
  color: #f00;
}

/* comment */
.comment-list {
  list-style-type: none;
  padding: 0;
  margin: 10px;

  justify-content: center;
  flex-wrap: wrap;
}

.comment-list li {
  padding: 5px 5px;
  text-align: left;
}

.comment-list hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;
}

#comment {
  text-align: left;
}

.comment-author {
  text-transform: lowercase;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: bold;
  font-style: italic;
  font-size: 12px;
}

.comment-date {
  padding-top: 2px;
  padding-bottom: 18px;
  font-size: 12px;
  text-transform: uppercase;
}

#comment p{
  position: relative;
  margin: 0 0 5px !important;
  color: #555555;
  font-size: 14px !important;
}

#comment .icon {
  position: relative;
  font-size: 18px !important;
  padding-right: 10px;
  float: left;
  box-sizing: border-box;
  color: #337ab7;
  cursor: pointer; 
}

#comment .btn:focus {
  outline: none;
}

.comment-create {
  margin: 0 0 10px !important;
}

.comment-button {
  float: right;
  padding: 2px;
}

.comment-info {
  padding: 15px 0 20px;
}

.comment-vote {
  float: left;
  padding-bottom: 6px;  
  padding-right: 20px;
  font-size: 16px;
}